.aside {
    position: fixed;
    left: -15rem;
    top: 0px;
    z-index: 40;
    height: 100vh;
    width: 15rem;
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

@media (min-width: 1024px) {

    .aside {
        left: 0px;
    }
}

.aside-tools {
    display: flex;
    height: 3.5rem;
    width: 100%;
    flex: 1 1 0%;
    flex-direction: row;
    align-items: center;
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.aside-mobile-expanded .aside {
    left: 0px;
}

.aside-mobile-expanded .navbar {
    margin-left: 15rem;
}

.aside-mobile-expanded #app {
    margin-left: 15rem;
}

.aside-mobile-expanded,
.aside-mobile-expanded body {
    overflow: hidden;
}

@media (min-width: 1024px) {

    .aside-mobile-expanded,
.aside-mobile-expanded body {
        overflow: visible;
    }
}

.menu-label {
    padding: 0.75rem;
    font-size: 0.75rem;
    line-height: 1rem;
    text-transform: uppercase;
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
}

.menu-clock {
    padding: 0.75rem;
    font-size: 0.75rem;
    line-height: 1rem;
    text-transform: uppercase;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.menu-list li a {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    --tw-text-opacity: 1;
    color: rgb(209 213 219 / var(--tw-text-opacity));
}

.menu-list li > a:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

.menu-list li a .menu-item-label {
    flex-grow: 1;
}

.menu-list li a .icon {
    width: 3rem;
    flex: none;
}

.menu-list li > a.active {
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

.menu-list li.active > a {
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

.menu-list li ul a {
    padding: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.menu-list li.active ul {
    display: block;
    --tw-bg-opacity: 1;
    background-color: rgb(75 85 99 / var(--tw-bg-opacity));
}

.button {
    display: inline-flex;
    cursor: pointer;
    justify-content: center;
    white-space: nowrap;
    border-radius: 0.25rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(249 250 251 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
}

.button:hover {
    --tw-border-opacity: 1;
    border-color: rgb(107 114 128 / var(--tw-border-opacity));
}

.button:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.button.addon-right {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.button.addon-left {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.button.small {
    padding: 0.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
}

.button.small.textual {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.button.active {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.button.active:hover {
    --tw-border-opacity: 1;
    border-color: rgb(107 114 128 / var(--tw-border-opacity));
}

.button.green {
    --tw-border-opacity: 1;
    border-color: rgb(34 197 94 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(34 197 94 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.button.green:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(22 163 74 / var(--tw-bg-opacity));
}

.button.indigo {
    --tw-border-opacity: 1;
    border-color: rgb(99 102 241 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(99 102 241 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.button.indigo:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(79 70 229 / var(--tw-bg-opacity));
}

.button.red {
    --tw-border-opacity: 1;
    border-color: rgb(239 68 68 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(239 68 68 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.button.red:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(220 38 38 / var(--tw-bg-opacity));
}

.button.pink {
    --tw-border-opacity: 1;
    border-color: rgb(236 72 153 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(236 72 153 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.button.pink:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(219 39 119 / var(--tw-bg-opacity));
}

.button.yellow {
    --tw-border-opacity: 1;
    border-color: rgb(234 179 8 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(234 179 8 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
}

.button.yellow:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(202 138 4 / var(--tw-bg-opacity));
}

.button.blue {
    --tw-border-opacity: 1;
    border-color: rgb(59 130 246 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.button.blue:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}

.button.light {
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.button.light:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.buttons.nowrap {
    flex-wrap: nowrap;
}

.buttons.right {
    justify-content: flex-end;
}

.buttons .button {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.card {
    border-radius: 0.25rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.card.has-table .card-content {
    padding: 0px;
}

.card-content {
    padding: 1.5rem;
}

.card-content hr {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

.card.empty .card-content {
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}

.card-header {
    display: flex;
    align-items: stretch;
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246 / var(--tw-border-opacity));
}

.card-header-title, .card-header-icon {
    display: flex;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.card-header-title {
    flex-grow: 1;
    font-weight: 700;
}

.card-header-icon {
    justify-content: center;
}

.widget-label h3 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    line-height: 1.25;
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}

.widget-label h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 600;
    line-height: 1.25;
}

.form-screen .card {
    width: 91.666667%;
    border-radius: 0.5rem;
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media (min-width: 1024px) {

    .form-screen .card {
        width: 41.666667%;
    }
}

.checkbox,
.radio,
.switch {
    position: relative;
    display: inline-flex;
    cursor: pointer;
    align-items: center;
}

.checkbox input[type="checkbox"],
.radio input[type="radio"],
.switch input[type="checkbox"] {
    position: absolute;
    left: 0px;
    opacity: 0;
}

.checkbox input[type="checkbox"] + .check,
.radio input[type="radio"] + .check,
.switch input[type="checkbox"] + .check {
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.checkbox input[type="checkbox"] + .check:hover,
.radio input[type="radio"] + .check:hover,
.switch input[type="checkbox"] + .check:hover {
    --tw-border-opacity: 1;
    border-color: rgb(156 163 175 / var(--tw-border-opacity));
}

.checkbox input[type="checkbox"] + .check,
.radio input[type="radio"] + .check {
    display: block;
    height: 1.25rem;
    width: 1.25rem;
}

.checkbox input[type="checkbox"] + .check {
    border-radius: 0.25rem;
}

.switch input[type="checkbox"] + .check {
    display: flex;
    height: 1.5rem;
    width: 3rem;
    flex-shrink: 0;
    align-items: center;
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
    padding: 0.125rem;
}

.radio input[type="radio"] + .check,
.switch input[type="checkbox"] + .check,
.switch input[type="checkbox"] + .check:before {
    border-radius: 9999px;
}

.checkbox input[type="checkbox"]:checked + .check,
.radio input[type="radio"]:checked + .check {
    border-width: 4px;
    --tw-border-opacity: 1;
    border-color: rgb(59 130 246 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246 / var(--tw-bg-opacity));
    background-position: center;
    background-repeat: no-repeat;
}

.checkbox input[type="checkbox"]:checked + .check {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Cpath style='fill:%23fff' d='M 0.04038059,0.6267767 0.14644661,0.52071068 0.42928932,0.80355339 0.3232233,0.90961941 z M 0.21715729,0.80355339 0.85355339,0.16715729 0.95961941,0.2732233 0.3232233,0.90961941 z'%3E%3C/path%3E%3C/svg%3E");
}

.radio input[type="radio"]:checked + .check {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z' /%3E%3C/svg%3E");
}

.switch input[type="checkbox"]:checked + .check {
    --tw-border-opacity: 1;
    border-color: rgb(59 130 246 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}

.switch input[type="checkbox"] + .check:before {
    content: "";
    display: block;
    height: 1.25rem;
    width: 1.25rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.switch input[type="checkbox"]:checked + .check:before {
    transform: translate3d(110%, 0, 0);
    --tw-border-opacity: 1;
    border-color: rgb(59 130 246 / var(--tw-border-opacity));
}

.checkbox .control-label,
.radio .control-label,
.switch .control-label {
    padding-left: 0.5rem;
}

.material-icons {
    display: inline-flex;
    height: 1.5rem;
    width: 1.5rem;
    align-items: center;
    justify-content: center;
}

.material-icons.widget-icon {
    height: 5rem;
    width: 5rem;
}

.material-icons.large {
    height: 3rem;
    width: 3rem;
}

.material-icons span {
    display: inline-flex;
}

.modal {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 40;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.modal.active {
    display: flex;
}

.modal-background {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
    --tw-bg-opacity: 0.8;
}

.modal-card {
    max-height: calc(100vh - 160px);
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
}

@media (min-width: 1024px) {

    .modal-card {
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }
}

.modal-card-body {
    flex-shrink: 1;
    flex-grow: 1;
}

.modal-card-body > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.modal-card-body {
    overflow: auto;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding: 1.5rem;
}

.modal-card-head,
.modal-card-foot {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-start;
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.modal-card-head {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-width: 1px;
}

.modal-card-foot {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-top-width: 1px;
}

.modal-card-foot .button:not(:last-child) {
    margin-right: 0.5rem;
}

.notification {
    border-radius: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.notification:not(:last-child) {
    margin-bottom: 1.5rem;
}

.notification.blue {
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.notification.green {
    --tw-bg-opacity: 1;
    background-color: rgb(34 197 94 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.notification.red {
    --tw-bg-opacity: 1;
    background-color: rgb(239 68 68 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.is-title-bar {
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246 / var(--tw-border-opacity));
    padding: 1.5rem;
}

.is-title-bar li {
    display: inline-block;
    padding-right: 0.75rem;
    font-size: 1.5rem;
    line-height: 2rem;
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}

.is-title-bar li:not(:last-child):after {
    content: "/";
    display: inline-block;
    padding-left: 0.75rem;
}

.is-title-bar li:last-child {
    padding-right: 0px;
    font-weight: 900;
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
}

progress {
    height: 0.75rem;
    overflow: hidden;
    border-radius: 9999px;
}

progress::-webkit-progress-bar {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

progress::-webkit-progress-value {
    --tw-bg-opacity: 1;
    background-color: rgb(34 197 94 / var(--tw-bg-opacity));
}

progress::-moz-progress-bar {
    --tw-bg-opacity: 1;
    background-color: rgb(34 197 94 / var(--tw-bg-opacity));
}

progress::-ms-fill {
    border-width: 0px;
    --tw-bg-opacity: 1;
    background-color: rgb(34 197 94 / var(--tw-bg-opacity));
}

table {
    width: 100%;
}

thead {
    display: none;
}

@media (min-width: 1024px) {

    thead {
        display: table-header-group;
    }
}

tr {
    position: relative;
    display: block;
    max-width: 100%;
    border-bottom-width: 4px;
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246 / var(--tw-border-opacity));
}

@media (min-width: 1024px) {

    tr {
        display: table-row;
        border-bottom-width: 0px;
    }
}

tr:last-child {
    border-bottom-width: 0px;
}

@media (min-width: 1024px) {

    th {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        text-align: left;
    }
}

td {
    display: flex;
    justify-content: space-between;
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246 / var(--tw-border-opacity));
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: right;
    vertical-align: top;
}

@media (min-width: 1024px) {

    td {
        display: table-cell;
        border-bottom-width: 0px;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        text-align: left;
        vertical-align: middle;
    }

    tr:nth-child(odd) td {
        --tw-bg-opacity: 1;
        background-color: rgb(249 250 251 / var(--tw-bg-opacity));
    }
}

td:last-child {
    border-bottom-width: 0px;
}

@media (min-width: 1024px) {

    tbody tr:hover td {
        --tw-bg-opacity: 1;
        background-color: rgb(243 244 246 / var(--tw-bg-opacity));
    }
}

td:before {
    content: attr(data-label);
    padding-right: 0.75rem;
    text-align: left;
    font-weight: 600;
}

@media (min-width: 1024px) {

    td:before {
        display: none;
    }

    td.checkbox-cell,
th.checkbox-cell {
        width: 1.25rem;
    }
}

td.progress-cell progress {
    display: flex;
    width: 40%;
    align-self: center;
}

@media (min-width: 1024px) {

    td.progress-cell progress {
        width: 100%;
    }
}

td.image-cell {
    border-bottom-width: 0px;
}

@media (min-width: 1024px) {

    td.image-cell {
        width: 1.5rem;
    }
}

td.image-cell:before,
td.actions-cell:before {
    display: none;
}

td.image-cell .image {
    margin-left: auto;
    margin-right: auto;
    height: 6rem;
    width: 6rem;
}

@media (min-width: 1024px) {

    td.image-cell .image {
        height: 1.5rem;
        width: 1.5rem;
    }
}

.table-pagination {
    border-top-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246 / var(--tw-border-opacity));
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

/*
! tailwindcss v3.2.4 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
*/

html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

*, ::before, ::after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  ;
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  ;
}

.field:not(:last-child) {
    margin-bottom: 0.75rem;
}

.field.spaced:not(:last-child) {
    margin-bottom: 1.5rem;
}

.field-body .field .field {
    margin-bottom: 0px;
}

.field.addons {
    display: flex;
    justify-content: flex-start;
}

.field.addons .control.expanded {
    flex-shrink: 1;
    flex-grow: 1;
}

.field.addons .control:first-child:not(:only-child) .input,
    .field.addons .control:first-child:not(:only-child) .select select {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right-width: 0px;
}

.field.addons .control:last-child:not(:only-child) .input,
    .field.addons .control:last-child:not(:only-child) .select select {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left-width: 0px;
}

.field.grouped {
    display: flex;
    justify-content: flex-start;
}

.field.grouped > .control:not(:last-child) {
    margin-right: 0.75rem;
}

.field.grouped.multiline {
    flex-wrap: wrap;
}

.label {
    margin-bottom: 0.5rem;
    display: block;
    font-weight: 700;
}

.control {
    position: relative;
}

.control.icons-left,
    .control.icons-right {
    position: relative;
}

.input,
    .textarea,
    .select select,
    .file-cta,
    .file-name {
    border-radius: 0.25rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(156 163 175 / var(--tw-border-opacity));
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.input,
    .select select,
    .file-cta,
    .file-name {
    height: 2.5rem;
}

.input,
    .textarea,
    .select select {
    width: 100%;
    max-width: 100%;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.input:focus,
    .textarea:focus,
    .select select:focus {
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246 / var(--tw-border-opacity));
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.input[readonly] {
    pointer-events: none;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.control.icons-left .icon,
    .control.icons-right .icon {
    position: absolute;
    top: 0px;
    z-index: 10;
    height: 2.5rem;
    width: 2.5rem;
}

.control.icons-left .input,
    .control.icons-left .select select {
    padding-left: 2.5rem;
}

.control.icons-left .icon.left {
    left: 0px;
}

.control.icons-right .input,
    .control.icons-right .select select {
    padding-right: 2.5rem;
}

.control.icons-right .icon.right {
    right: 0px;
}

@media (min-width: 1024px) {

    .navbar, .navbar-menu, .navbar-start, .navbar-end {
        display: flex;
        align-items: stretch;
    }
}

.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 30;
    display: flex;
    height: 3.5rem;
    width: 100vw;
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

@media (min-width: 1024px) {

    .navbar {
        width: auto;
        padding-left: 15rem;
    }
}

.navbar-brand {
    display: flex;
    height: 3.5rem;
    flex: 1 1 0%;
    align-items: stretch;
}

.navbar-brand.is-right {
    flex: none;
}

@media (min-width: 1024px) {

    .navbar-brand.is-right {
        display: none;
    }
}

.navbar-brand .navbar-item {
    display: flex;
    align-items: center;
}

.navbar-item, .navbar-link {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.navbar-item {
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
}

@media (min-width: 1024px) {

    .navbar-item {
        display: flex;
        align-items: center;
    }

    .navbar-item.mobile-aside-button {
        display: none;
    }

    .navbar-item.has-divider {
        border-right-width: 1px;
        --tw-border-opacity: 1;
        border-color: rgb(243 244 246 / var(--tw-border-opacity));
    }
}

.navbar-item > .navbar-link {
    display: flex;
    align-items: center;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

@media (min-width: 1024px) {

    .navbar-item > .navbar-link {
        background-color: transparent;
    }
}

.navbar-item .icon + span {
    margin-left: 0.5rem;
}

.navbar-item.has-user-avatar > .navbar-link {
    display: flex;
    align-items: center;
}

.navbar-item.has-user-avatar .user-avatar {
    margin-right: 0.75rem;
    display: inline-flex;
    height: 1.5rem;
    width: 1.5rem;
}

.navbar-item.dropdown {
    padding: 0px;
}

@media (min-width: 1024px) {

    .navbar-item.dropdown {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
}

.navbar-item.dropdown > .navbar-link .icon:last-child {
    display: none;
}

@media (min-width: 1024px) {

    .navbar-item.dropdown > .navbar-link .icon:last-child {
        display: inline-flex;
    }

    .navbar-item.desktop-icon-only {
        width: 4rem;
        justify-content: center;
    }

    .navbar-item.desktop-icon-only span:last-child {
        display: none;
    }
}

.navbar-item .input {
    border-width: 0px;
}

.navbar-menu {
    max-height: calc(100vh - 3.5rem);
    position: absolute;
    top: 3.5rem;
    left: 0px;
    display: none;
    width: 100vw;
    overflow: auto;
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

@media (min-width: 1024px) {

    .navbar-menu {
        position: static;
        display: flex;
        flex-grow: 1;
        overflow: visible;
        border-bottom-width: 0px;
        --tw-shadow: 0 0 #0000;
        --tw-shadow-colored: 0 0 #0000;
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }
}

.navbar-menu.active {
    display: block;
}

@media (min-width: 1024px) {

    .navbar-end {
        margin-left: auto;
        justify-content: flex-end;
    }
}

.navbar-item .navbar-dropdown {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

@media (min-width: 1024px) {

    .navbar-item .navbar-dropdown {
        position: absolute;
        top: 100%;
        left: 0px;
        z-index: 20;
        min-width: 100%;
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        border-top-width: 2px;
        --tw-border-opacity: 1;
        border-color: rgb(229 231 235 / var(--tw-border-opacity));
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity));
        --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }

    .navbar-item:not(.active) .navbar-dropdown {
        display: none;
    }
}

.navbar-item.active:not(.dropdown), .navbar-item.active.dropdown > .navbar-link {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
}

.absolute {
    position: absolute;
}

.float-right {
    float: right;
}

.ml-6 {
    margin-left: 1.5rem;
}

.mb-6 {
    margin-bottom: 1.5rem;
}

.ml-2 {
    margin-left: 0.5rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-6 {
    margin-top: 1.5rem;
}

.block {
    display: block;
}

.table {
    display: table;
}

.grid {
    display: grid;
}

.w-96 {
    width: 24rem;
}

.w-1\/2 {
    width: 50%;
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.gap-4 {
    gap: 1rem;
}

.rounded-full {
    border-radius: 9999px;
}

.border {
    border-width: 1px;
}

.object-scale-down {
    -o-object-fit: scale-down;
       object-fit: scale-down;
}

.pt-2 {
    padding-top: 0.5rem;
}

.pt-4 {
    padding-top: 1rem;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.font-black {
    font-weight: 900;
}

.font-bold {
    font-weight: 700;
}

.text-gray-800 {
    --tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity));
}

.text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
}

.text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
}

body {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity));
    padding-top: 3.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
}

@media (min-width: 1024px) {

    body {
        padding-left: 15rem;
    }
}

#app {
    width: 100vw;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

@media (min-width: 1024px) {

    #app {
        width: auto;
    }
}

.video {
  position: relative;
  padding-top: 56.25%;
}

.console {
  height: 600px;
}

.link {
    --tw-text-opacity: 1;
    color: rgb(37 99 235 / var(--tw-text-opacity));
}

.main-section {
    padding: 1.5rem;
}

.dropdown {
    cursor: pointer;
}

.clipped,
.clipped body {
    overflow: hidden;
}

.m-clipped,
.m-clipped body {
    overflow: hidden;
}

@media (min-width: 1024px) {

    .m-clipped,
.m-clipped body {
        overflow: visible;
    }
}

.form-screen body {
    padding: 0px;
}

.form-screen .main-section {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
